@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  flex-direction: row;
  height: 85px;
  z-index: 2;
}



h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.logoUTPHeader {
  height: 60px;
  margin: 0 10px 0 10px;
  object-fit: contain;
}

.homeButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.homeButton:visited{
  text-decoration: none;
  color: #8F8F8F;
}

.underline {
  border-bottom: 2px solid #C88A12;
  width: 90%;
}

.homeButtonText {
  margin: 0px 10px 0px 10px;
  font-weight: 300;
  color: #8F8F8F;
  text-decoration: none;
}


.homeButtonText:visited {
  color: #8F8F8F;
  text-decoration: none;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.searchBarInput {
  flex: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.searchBarInput::placeholder {
  font-family: 'Poppins', sans-serif;
}

.searchButton {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.authButtons {
  display: flex;
  gap: 5px;
  margin-right: 2%;
}

.authButton {
  padding: 10px 25px 14px 25px;
  background-color: #004A85;
  color: white;
  border-radius: 200px;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  margin: 0px 20px 0 20px;
  max-height: 20px;
}

.authButton:hover {
  background-color: #003b6a;
}

.btnQuestion {
  padding: 10px 20px;
  background-color: #004A85;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  text-align: center;
}

.notificationMenu, .profileMenu, .filterMenu {
  position: relative;
}

.notificationButton, .profileButton, .filterButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.notificationButton img, .profileButton img, .filterButton img {
  width: 60px;
  height: 60px;
}

